
.card{
    height: 320px;
    width: 540px;
    margin: 12px;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 32px;
    align-items: center;
    text-align: left;
    border-radius: 24px;
    background-color: rgb(20,20,20);
    color: whitesmoke;
    font-family: "DM Sans", sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  }
  

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.title {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 12px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 12px;
}

.btnCard {
    display: flex;
    justify-content: left;
    margin-top: 12px;
}